/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb
/.fleet
/.idea
/.vscode
